@import "../../../mixins.scss";

.Navbar {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 2;
  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background-color: var(--backg-1);
  }
  &.hide {
    transform: translateY(-60px);
  }

  &.dropdown {
    background: var(--backg-1);
    .mobileMenuItems {
      display: flex;
      position: absolute;
      top: 60px;
      left: 0;
      background: var(--backg-1);
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.6s ease forwards;
      .mobileItems {
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 15px 30px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--Text);
      }
      .close {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .closeIcon {
        color: var(--Text);
        margin-right: 10px;
      }
    }
  }

  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      flex-direction: row;

      cursor: pointer;
      img {
        height: 30px;
      }
      @include sm {
        img {
          height: 50px;
        }
      }

      .menuIcon {
        cursor: pointer;
        color: var(--Text);
        margin-left: 20px;
        height: 25px;
        width: 25px;
        @include md {
          display: none;
        }
      }
      .Menuitems {
        display: none;
        flex-direction: row;
        margin-left: 40px;
        @include md {
          display: flex;
        }
        .Items {
          cursor: pointer;
          color: var(--Text);
          margin-left: 30px;
          list-style-type: none;
          font-size: 1.2rem;

          &:hover {
            color: var(--main-color);
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;

      @include sm {
        gap: 20px;
      }

      .userProfile1 {
        background-color: var(--backg-1);
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0;
        width: 300px;
        height: 700px;
        display: flex;
        flex-direction: column;
        animation: sidebarMenu 0.6s ease-in-out both;

        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
          padding: 30px 0px 30px 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 10px;
          }
          .username {
            font-size: 18px;
            color: var(--Text);
            margin-left: 10px;

            h2 {
              font-weight: 300;
              font-size: 18px;
            }
            span {
              font-weight: 10;
              font-size: 12px;
              opacity: 0.6;
            }
          }
          .close {
            font-size: 25px;
            color: var(--Text);
            opacity: 0.5;
            margin-left: 20px;
            border-radius: 50%;
            padding: 5px 5px 5px 5px;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(3.5px);
            -webkit-backdrop-filter: blur(3.5px);
          }
        }

        .profileItems {
          position: relative;
          left: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 25px;
          margin-left: 15px;
          padding: 20px 10px 20px 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          .Items {
            color: var(--Text);
            font-size: 15px;
            cursor: pointer;
            list-style-type: none;
          }
        }
      }

      .mobileView {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;

        .searchIcon {
          color: var(--Text);
          height: 20px;
        }
        .menuIcon {
          color: var(--Text);
          height: 20px;
        }

        .userProfile {
          background-color: var(--backg-1);
          cursor: pointer;
          position: absolute;
          top: 0px;
          right: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          animation: sidebarMenu 0.6s ease-in-out both;

          .profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            height: 60px;
            padding: 50px 50px 50px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              object-fit: cover;
              margin-left: 15px;
            }
            .username {
              font-size: 18px;
              color: var(--Text);
              margin-left: 10px;
              h2 {
                font-weight: 300;
                font-size: 18px;
              }
              span {
                font-weight: 10;
                font-size: 10px;
                opacity: 0.6;
              }
            }
            .close {
              font-size: 15px;
              color: var(--Text);
              opacity: 0.5;
              margin-left: 200px;
            }
          }

          .profileItems {
            position: relative;
            left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            padding: 20px 10px 20px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            .Items {
              cursor: pointer;
              color: var(--Text);
              list-style-type: none;
              font-size: 1rem;
            }
          }
        }
      }

      .search {
        display: none;
        @include md {
          display: flex;
        }
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid var(--main-color);
        height: 30px;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        margin-right: 10px;
        .searchInput {
          background: transparent;
          border: none;
          outline: none;
          color: var(--Text);
        }
        .searchIcon {
          color: var(--Text);
          opacity: 0.5;
        }
      }
      .pfp {
        cursor: pointer;
        img {
          height: 20px;
          border-radius: 50%;
          object-fit: cover;
        }
        @include sm {
          img {
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    height: 60px;
    background-color: var(--backg-2);
    position: absolute;
    animation: mobileMenu 0.4s ease forwards;

    .closeBtn {
      position: absolute;
      background: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      border-radius: 50%;
      padding: 7.5px 7.5px 7.5px 7.5px;
      top: 70px;
      left: 200px;
      cursor: pointer;
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      .close {
        color: var(--backg-2);
        opacity: 0.5;
      }
    }
    .searchInput {
      display: flex;
      align-items: center;
      height: 40px;
      margin-top: 10px;
      width: 100%;
      svg {
        font-size: 20px;
        flex-shrink: 0;
        margin-left: 10px;
        cursor: pointer;
        color: var(--Text);
        opacity: 0.3;
      }
      input {
        width: 100%;
        height: 50px;
        background-color: transparent;
        outline: 0;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
        color: var(--Text);
        @include md {
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes sidebarMenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
